#final{
    width: 100%;
    background-color: #2c2c2c;
    height: 485px;
}

#footer{
    display: flex;
}
#footerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 270px;
    margin: 50px 0 0 0;
}
#footerBox > h1{
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
    font-size: 35px;
    margin: 0;
}

/* footer left */
#contactBox{
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
}

#contactW{
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    margin: 5px 0 0 0;
}
#zapIcon{
    text-align: center;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    transition: .4s ease-in-out;
}
#zapIcon > a{
    font-size: 35px;
    width: 73px;
    height: 40px;
    color: #c2c2c2;
    text-align: center;
    transition: .2s;
}
#zapIcon > a:hover{
    font-size: 40px;
    color: #c2c2c2;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
#zapIcon > p{
    margin: 7px 0 0 0;
}
#hiddenTextW{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 522px;
    height: 50px;
    top: -50px;
    left: 260px;
    transition: .5s ease-in-out;
}
#hiddenTextW > a{
    text-decoration: none;
}
#hiddenW{
    color: #c2c2c2;
    position: relative;
    left: -522px;
    margin: 0 0 0 0;
    transition: .4s ease-in-out;
}


#contactL{
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
}
#linkedIcon{
    text-align: center;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    transition: .4s ease-in-out;
}
#linkedIcon > a{
    font-size: 30px;
    width: 73px;
    height: 40px;
    color: #c2c2c2;
    text-align: center;
    transition: .2s;
}
#linkedIcon > a:hover{
    font-size: 40px;
    color: #c2c2c2;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
#linkedIcon > p{
    margin: 7px 0 0 0;
}
#hiddenTextL{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 575px;
    height: 50px;
    top: -50px;
    left: 260px;
    transition: .5s ease-in-out;
}
#hiddenTextL > a{
    text-decoration: none;
}
#hiddenL{
    color: #c2c2c2;
    position: relative;
    left: -575px;
    margin: 0 0 0 0;
    transition: .4s ease-in-out;
}


#contactG{
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
    margin: 0 0 0 0;
}
#gitIcon{
    text-align: center;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    transition: .4s ease-in-out;
}
#gitIcon > a{
    font-size: 30px;
    width: 73px;
    height: 40px;
    color: #c2c2c2;
    text-align: center;
    transition: .2s;
}
#gitIcon> a:hover{
    font-size: 40px;
    color: #c2c2c2;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
#gitIcon > p{
    margin: 7px 0 0 0;
}
#hiddenTextG{
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    width: 550px;
    height: 50px;
    top: -50px;
    left: 260px;
    transition: .5s ease-in-out;
}
#hiddenTextG > a{
    text-decoration: none;
}
#hiddenG{
    color: #c2c2c2;
    position: relative;
    left: -550px;
    margin: 0 0 0 0;
    transition: .4s ease-in-out;
}
/* footer left */



@media (max-width: 800px){
    #footerBox > h1{
        font-size: 30px;
    }
    #contactW{
        padding: 0 10px;
    }
    #zapIcon > a{
        font-size: 30px;
    }
    #zapIcon > p{
        font-size: 13px;
    }
    #contactL{
        padding: 0 10px;
    }
    #linkedIcon > a{
        font-size: 30px;
    }
    #linkedIcon > p{
        font-size: 13px;
    }
    #contactG{
        padding: 0 10px;
    }
    #gitIcon > a{
        font-size: 30px;
    }
    #gitIcon > p{
        font-size: 13px;
    }
}

@media (max-width: 1200px){
    #footer{
        display: block;
    }
    #footerBox{
        left: 0;
    }
    #contactBox{
        flex-direction: row;
        padding: 0;
        align-items: center;
    }
    #contactW{
        margin: 0;
    }
    #hiddenTextW{
        display: none;
    }
    #hiddenTextL{
        display: none;
    }
    #hiddenTextG{
        display: none;
    }
}

@media (max-width: 1600px){
    #footerBox{
        left: 0px;
    }
}