#project{
    height: 110vh;
    width: 100%;
    background-color: #3d3d3d;
}

#titulo_project{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    top: 27px;
}
#txt_project{
    margin: 0 auto;
}
#txt_project > h2{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-size: 17px;
    color: #1c1c1c;
    opacity: .8;
}
#txt_project > h1{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 27px;
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
}

#projectCards1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#projectCards2{
    position: relative;
    top: 540px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* icons dos projetos */
    .bi.bi-body-text{
    color: #9d4432;
}
    .bi.bi-phone{
    color: #9d4432;
    position: relative;
    top: -3px;
    font-size: 80px;
}
    #textIcon1{
    position: absolute;
    font-size: 205px;
    left: 15px;
    top: -10px;
}
    #textIcon2{
    transform: rotate(180deg);
    position: absolute;
    font-size: 205px;
    right: 15px;
    top: -35px;
}
/* icons dos projetos */


@media (max-width: 1900px){
    #project{
        height: 1100px;
    }
}

@media (max-width: 1600px){
    #textIcon1{
        font-size: 140px;
        top: -4px;
    }
    #textIcon2{
        font-size: 140px;
        top: -20px;
    }
    .bi.bi-phone{
        font-size: 66px;
    }
}

@media (max-width: 1100px){
    #project{
        height: 110vh;
    }
    #projectCards1{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #projectCards2{
        display: none;
    }
}

@media (max-width: 600px){
    #project{
        height: 100vh;
    }
    #textIcon1{
        font-size: 110px;
        top: 0px;
    }
    #textIcon2{
        font-size: 110px;
        top: -13px;
    }
    .bi.bi-phone{
        font-size: 55px;
    }
    #titulo_project{
        top: 10px;
    }
    #txt_project > h2{
        font-size: 14px;
    }
    #txt_project > h1{
        font-size: 20px;
    }
}