#project{
    height: 90vh;
    width: 100%;
    background-color: #3d3d3d;
}

#titulo_project{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    top: 27px;
}
#txt_project{
    margin: 0 auto;
}
#txt_project > h2{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-size: 17px;
    color: #1c1c1c;
    opacity: .8;
}
#txt_project > h1{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 27px;
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
}

#projectCards1{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
}

.htmlLogo{
    color: #833424;
    position: relative;
    width: 25px;
    height: 25px;
}
.cssLogo{
    color: #833424;
    position: relative;
    width: 31px;
    height: 31px;
}
.jsLogo{
    color: #833424;
    position: relative;
    width: 27px;
    height: 27px;
}
/* icons dos projetos */
@media (max-height: 800px){
    #project{
        height: 100vh;
    }
}
@media (max-width: 800px){
    #project{
        height: 80vh;
    }
    .htmlLogo{
        width: 19px;
        height: 19px;
    }
    .cssLogo{
        width: 25px;
        height: 25px;
    }
    .jsLogo{
        width: 21px;
        height: 21px;
    }
}
@media (max-width: 500px){
    #project{
        height: 60vh;
    }
    .htmlLogo{
        width: 15px;
        height: 15px;
    }
    .cssLogo{
        width: 20px;
        height: 20px;
    }
    .jsLogo{
        width: 16px;
        height: 16px;
    }
}