/* proposta */
#purpose_box{
    display: flex;
    justify-content: center;
    height: 250px;
    width: 100%;
}
#purpose{
    display: flex;
    place-content: center;
    text-align: center;
    align-items: center;
    width: 699px;
    text-align: center;
    letter-spacing: .2em;
}
#purpose > h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: 400;
}
#purpose > h1 > a{
    text-decoration: none;
    color: #bc5642;
    transition: .2s;
}
#purpose > h1 > a:hover{
    color: #833424;
}
/* proposta */


@media (max-width: 1200px){
    #purpose_box{
        height: 210px;
    }
    #purpose{
        width: 620px;
    }
    #purpose > h1{
        font-size: 30px;
    }
}

@media (max-width: 800px){
    #purpose_box{
        height: 170px;
    }
    #purpose{
        width: 500px;
    }
    #purpose > h1{
        font-size: 23px;
    }
}