/* proposta */
#purpose_box{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}
#purpose{
    display: flex;
    place-content: center;
    text-align: center;
    align-items: center;
    width: 699px;
    text-align: center;
    letter-spacing: .2em;
}
#purpose > h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: 400;
}
#purpose > h1 > a{
    text-decoration: none;
    color: #bc5642;
    transition: .2s;
}
#purpose > h1 > a:hover{
    color: #833424;
}
/* proposta */