@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;700;800;1000&family=Lato:wght@100;200;300;400;500;700;800;1000&family=Nunito:wght@100;200;300;400;500;700;800&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
}
#principal{
    background-color: #2c2c2c;
    margin: 0;
    font-family: 'DM Sans', sans-serif;
    height: 390vh;
}

/* cabeçalho */
#cabeça{
    z-index: 5;
    display: flex;
    position: absolute;
    align-items: center;
    width: 100%;
    height: 40px;
    top: 0;
    padding: 10px 0 0 0;
}
#cabeça > h1{
    font-family: 'Lato', sans-serif;
    position: absolute;
    color: rgb(255, 255, 255);
    top: 40%;
    left: 10%;
    margin: 0;
}
#home{
    display: flex;
    position: absolute;
    transition: .4s;
    padding: 25px 0 0 0;
    gap: 3.2rem;
    right: 150px;
}
#home > a{
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 300;
    height: 35px;
    font-family: 'Lato', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    text-decoration: none;
    transition: .2s;
}
#home > a:hover{
    font-size: 22px;
    color: #833424;
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.5);
}
/* cabeçalho */

/* botão subir */
#btnTop{
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 13px;
    bottom: 20px;
    height: 50px;
    width: 50px;
    background-color: rgba(0,0,0,.3);;
    border-radius: 50%;
    transition: .5s;
}
.bi.bi-arrow-up-short{
    color: white;
    font-size: 42px;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
    transition: 0.3s;
}
.bi.bi-arrow-up-short:hover{
    color: #833424;
}
/* botão subir */

/* menu lateral */
#header{
    z-index: 10;
    position: fixed;
    right: 0;
    margin: 0;
    width: 60px;
    height: 100%;
    transition: .4s;
}
#menu{
    position: absolute;
    top: 0;
    left: 60px;
    width: 240px;
    height: 100%;
    text-align: left;
    background-color: #202020;
}
#menu > .home{
    font-size: 25px;
    font-weight: 700;
    margin-top: 20px;
}
#menu > .home:hover{
    font-size: 27px;
    color: #833424;
}
.linha_menu{
    border-top: solid 1px rgba(255, 255, 255,.5);
    margin: 20px auto;
    width: 210px;
    height: 1px;
}
#menu > a{
    display: block;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    padding: 10px 0 10px 0;
    color: rgba(255, 255, 255, 1);
    transition: .2s;
}
#menu > a:hover{
    font-size: 23px;
    color: #833424;
}
#contact{
    display: flex;
    margin: 0 0 0 16px;
}
#contact > a{
    display: flex;
    text-decoration: none;
}
#contact > a > i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    transition: .2s;
}
#contact > a > i:hover{
    font-size: 25px;
    color: #833424;
}
#btn_abrir{
    position: absolute;
    top: 20px;
    padding: 5px;
    cursor: pointer;
}
#btn_abrir > i{
    display: flex;
    position: relative;
    padding: 3px;
    right: 0;
    font-size: 30px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: rgba(0,0,0,.3);
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}
#btn_abrir > i:hover{
    color: #833424;
}
#btn_fechar{
    display: none;
    position: absolute;
    top: 20px;
    padding: 5px;
    cursor: pointer;
}
#btn_fechar > i{
    display: flex;
    position: relative;
    padding: 3px;
    right: 0;
    font-size: 25px;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: rgba(0,0,0,.3);
    color: rgba(255, 255, 255, 1);
    transition: .3s;
}
#btn_fechar > i:hover{
    color: #833424;
}
/* menu lateral */

/* home */
#main{
    width: 100%;
    height: 100%;
    margin: 0;
}
#slides_container{
    list-style: none;
    position: relative;
    height: 970px;
    margin: 0;
    padding: 0;
}
#txt_slides{
    display: block;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    z-index:5;
    margin: 0;
}
#nome{
    text-align: center;
}
#nome > h1{
    display: flex;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    align-items: center;
    justify-content: center;
    font-size: 140px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    letter-spacing: .4rem;
    line-height: 100%;
    height: 105px;
    width: 820px;
    margin: 0;
    padding: 0;
}
#nome > p{
    position: relative;
    font-size: 35px;
    font-weight: 200;
    left: -247px;
    color: white;
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    margin: 0 0 15px 0;
    padding: 0;
}
#nome > h2{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    width: 21%;
    height: 46px;
    right: 6%;
    top: 0%;
    margin: 0;
}
#nome > h2 > a{
    display: flex;
    text-decoration: none;
}
#nome > h2 > a > i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    width: 73px;
    height: 40px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    transition: .2s;
}
#nome > h2 > a > i:hover{
    color: rgb(131, 52, 36);
    font-size: 35px;
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.5);
}
#dev{
    display: block;
    position: relative;
    transition: .5s;
    opacity: 1;
    top: 20px;
    text-align: center;
}
#dev > h1{
    display: flex;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, .3);
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    width: 750px;
    height: 190px;
    margin: 0 auto;
    padding: 0;
    line-height: 100%;
}
#dev > p{
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    margin: 15px 0 0 0;
    padding: 0;
}
#welcome{
    opacity: 0;
    position: relative;
    transition: .6s;
    top: -205px;
    text-align: center;
}
#welcome > h1{
    display: flex;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    align-items: center;
    justify-content: center;
    font-size: 80px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
    width: 750px;
    height: 100px;
    margin: 0 auto;
    padding: 0;
    line-height: 100%;
}
#welcome > p{
    font-size: 20px;
    font-weight: 200;
    color: white;
    text-shadow: 0px 1px 1px  rgba(19, 19, 19, 0.3);
    margin: 15px 0 0 0;
    padding: 0;
}
/* home */

#overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, .4);
    height: 100%;
    width: 100%;
    z-index: 5;
}

/* imagens dos slides */
.img{
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    width: 100%;
    height: 100%;
}
#img1{
    position: absolute;
    transition: .5s;
    opacity: 1;
    z-index: 1;
}
#img2{
    position: absolute;
    transition: .5s;
    opacity: 0;
    z-index: 2;
}
#img3{
    position: absolute;
    transition: .5s;
    opacity: 0;
    z-index: 3;
}
#img4{
    position: absolute;
    transition: .5s;
    opacity: 0;
    z-index: 4;
}
/* imagens dos slides */

/* proposta */
#purpose_box{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 2%;
}
#purpose{
    display: flex;
    place-content: center;
    text-align: center;
    align-items: center;
    width: 699px;
    text-align: center;
    letter-spacing: .2em;
}
#purpose > h1{
    font-size: 35px;
    color: rgb(255, 255, 255);
    margin: 0;
    font-weight: 400;
}
#purpose > h1 > a{
    text-decoration: none;
    color: #bc5642;
    transition: .2s;
}
#purpose > h1 > a:hover{
    color: #833424;
}
/* proposta */

/* sobre mim */
#linha_sobre_mim{
    border-top: solid 1px rgba(161, 161, 161, 0.8);
    margin: 20px auto;
    width: 152px;
    height: 1px;
}
#sobre_mim_box{
    background-color: #3d3d3d;
    box-shadow: 1px 1px 1px  rgba(19, 19, 19, 0.3);
    display: flex;
    position: relative;
    align-items: center;
    height: 590px;
    top: 1%;
}
#titulo_sobre_mim{
    display: flex;
    position: absolute;
    justify-content: center;
    width: 100%;
    top: 27px;
}
#txt_sobre_mim{
    margin: 0 auto;
}
#titulo_sobre_mim > #txt_sobre_mim > h2{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-size: 17px;
    color: #1c1c1c;
    opacity: .8;
}
#titulo_sobre_mim > #txt_sobre_mim > h1{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 27px;
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
}

#box_shadow_sobreMim{
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    top: 200px;
    left: 250px;
    width: 32%;
    height: 335px;
}
#box_shadow_buffer{
    position: absolute;
    background-color:rgb(131, 52, 36);
    box-shadow: 21px 21px 0px rgb(0, 0, 0);
    border-radius: 10px;
    top: 191px;
    right: 312px;
    width: 29%;
    height: 335px;
}
#sobre_mim{
    z-index: 5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 0;
    width: 30%;
    height: 300px;
    left: 14%;
    top: 12%;
    background-color: #585858;
    box-shadow: -24px -24px 0px  rgb(131, 52, 36);
    border-radius: 10px;
}
#sobre_mim > p{
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    display: flex;
    position: absolute;
    justify-content:left;
    font-size: 26px;
    margin: 0 10px 0 15px;
    color: rgb(255, 255, 255);
    text-shadow: -2px -1px 1px rgba(19, 19, 19, 0.3);
}
#buffer{
    position: absolute;
    right: 15%;
    top: 13%;
    height: 570px;
    width: 570px;
}
/* sobre mim */

/* experiencia */
#xp{
    position: relative;
    top: 27px;
    height: 620px;
}
#titulo_xp{
    position: relative;
    top: 50px;
}
#txt_xp{
    position: relative;
    top: 0px;
    width: 100%;
}
#txt_xp > h2{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-size: 17px;
    color: #717171;
    opacity: .8;
}
#txt_xp > h1{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 27px;
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
}
#linha_xp{
    border-top: solid 1px rgba(219, 219, 219, 0.8);
    margin: 20px auto;
    width: 152px;
    height: 1px;
}
/* experiencia */

/* slides da linha do tempo */
#btns_xp{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    position: absolute;
    top: 320px;
}
#right_btn_xp{
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: -3px 0px 0px rgb(131, 52, 36);
    width: 48px;
    height: 48px;
    position: relative;
    left: 245px;
}
#left_btn_xp{
    display: flex;
    justify-content: center;
    text-align: center;
    text-shadow: 3px 0px 0px rgb(131, 52, 36);
    width: 48px;
    height: 48px;
    position: relative;
    right: 245px;
}
.bi.bi-caret-right{
    color: white;
    position: relative;
    font-size: 37px;
    transition: .1s;
}
.bi.bi-caret-left{
    color: white;
    position: relative;
    font-size: 37px;
    transition: .1s;
}
.bi.bi-caret-right:hover{
    cursor: pointer;
    font-size: 45px;
}
.bi.bi-caret-left:hover{
    cursor: pointer;
    font-size: 45px;
}

#slides_xp{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
}
.box_xp{
    position: absolute;
    background-color: #3d3d3d;
    box-shadow: -19px -19px 0px rgb(131, 52, 36);
    border-radius: 10px;
    width: 406px;
    height: 280px;
}
.box_xp > h1{
    text-align: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 30px 0 0 0;
    font-size: 23px;
    letter-spacing: .2rem;
    color: #000000aa;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
}
.box_xp > h2{
    color: #9a9a9a;
    text-align: center;
    margin: 5px 0 0px 0;
    font-size: 20px;
    letter-spacing: .1rem;
}
.box_xp > p{
    color: white;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    padding: 7px 50px 0 50px;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
    display: flex;
    font-size: 27px;
    text-align: center;
    justify-content: center;
    margin: 12% 0 0 0;
}
#xp1{
    position: absolute;
    opacity: 1;
    transition: .8s;
    right: 28.3%;
    transform: translateX(-50%);
}
#xp2{
    position: absolute;
    right: 0%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .8s;
}
#xp3{
    position: absolute;
    right: 0%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .8s
}
#xp4{
    position: absolute;
    right: 0%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .8s
}
#xp5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    right: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: .8s
}
#xp5 > h1{
    color: white;
    font-size: 30px;
    margin: 0;
    letter-spacing: .3rem;
    align-items: center;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
/* slides da linha do tempo */

/* projetos */
#project{
    height: 1100px;
    width: 100%;
    background-color: #3d3d3d;
}

#titulo_project{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
    top: 27px;
}
#txt_project{
    margin: 0 auto;
}
#txt_project > h2{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 20px 0 10px 0;
    font-size: 17px;
    color: #1c1c1c;
    opacity: .8;
}
#txt_project > h1{
    display: flex;
    justify-content: center;
    letter-spacing: 1px;
    margin: 0;
    font-size: 27px;
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
}

#projectCards1{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* icons dos projetos */
.bi.bi-body-text{
    color: #9d4432;
}
.bi.bi-phone{
    color: #9d4432;
    position: relative;
    top: -3px;
    font-size: 80px;
}
#textIcon1{
    position: absolute;
    font-size: 205px;
    left: 15px;
    top: -10px;
}
#textIcon2{
    transform: rotate(180deg);
    position: absolute;
    font-size: 205px;
    right: 15px;
    top: -35px;
}
/* icons dos projetos */

/* projeto 1 */
#linha_projects1{
    position: absolute;
    bottom: 60px;
    left: 25%;
    border-top: solid 1px rgba(119, 119, 119, 0.8);
    width: 200px;
    height: 1px;
}
#projectBox1{
    position: relative;
    height: 320px;
    left: 360px;
    top: 100px;
}
#project1{
    overflow: hidden;
    position: relative;
    width: 410px;
    height: 220px;
    background-color: #833424;
    border-radius: 10px;
    box-shadow: -12px -12px 0px rgb(0, 0, 0);
}
#tarja{
    transform: rotate(-42deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 62px;
    left: -40px;
    top: 76px;
    background-color: #9d4432;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarja > h1{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
#cel1{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    left: 360px;
    top: -78px;
    width: 66px;
    height: 92px;
    background-color: #833424;
    box-shadow: -7px -7px 0px rgb(0, 0, 0);
    border-radius: 7px;
}
#tarjaCel1{
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    width: 241px;
    height: 30px;
    background-color: #98402f;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarjaCel1 > h1{
    font-size: 8px;
    font-weight: 500;
    margin: 0;
}
#textProjects1{
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
}
#textProjects1 > h1{
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    font-weight: 300;
    margin: 0;
}
/* projeto 1 */

/* projeto 2 */
#linha_projects2{
    position: absolute;
    bottom: 60px;
    left: 25%;
    border-top: solid 1px rgba(119, 119, 119, 0.8);
    width: 200px;
    height: 1px;
}
#projectBox2{
    position: relative;
    height: 320px;
    left: -360px;
    top: 100px;
}
#project2{
    overflow: hidden;
    position: relative;
    width: 410px;
    height: 220px;
    background-color: #833424;
    border-radius: 10px;
    box-shadow: -12px -12px 0px rgb(0, 0, 0);
}
#tarja2{
    transform: rotate(-42deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 62px;
    left: -40px;
    top: 76px;
    background-color: #9d4432;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarja2 > h1{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
#cel2{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    left: 360px;
    top: -78px;
    width: 66px;
    height: 92px;
    background-color: #833424;
    box-shadow: -7px -7px 0px rgb(0, 0, 0);
    border-radius: 7px;
}
#tarjaCel2{
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    width: 241px;
    height: 30px;
    background-color: #98402f;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarjaCel2 > h1{
    font-size: 8px;
    font-weight: 500;
    margin: 0;
}
#textProjects2{
    display: flex;
    position: absolute;
    bottom: 0px;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
}
#textProjects2 > h1{
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    font-weight: 300;
    margin: 0;
}
/* projeto 2 */

#projectCards2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* projeto 3 */
#linha_projects3{
    position: relative;
    top: 320px;
    left: 25%;
    border-top: solid 1px rgba(119, 119, 119, 0.8);
    width: 200px;
    height: 1px;
}
#projectBox3{
    position: relative;
    height: 320px;
    left: 360px;
    top: 270px;
}
#project3{
    overflow: hidden;
    position: relative;
    width: 410px;
    height: 220px;
    top: 265px;
    background-color: #833424;
    border-radius: 10px;
    box-shadow: -12px -12px 0px rgb(0, 0, 0);
}
#tarja3{
    transform: rotate(-42deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 62px;
    left: -40px;
    top: 76px;
    background-color: #9d4432;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarja3 > h1{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
#cel3{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    left: 360px;
    top: 185px;
    width: 66px;
    height: 92px;
    background-color: #833424;
    box-shadow: -7px -7px 0px rgb(0, 0, 0);
    border-radius: 7px;
}
#tarjaCel3{
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    width: 241px;
    height: 30px;
    background-color: #98402f;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarjaCel3 > h1{
    font-size: 8px;
    font-weight: 500;
    margin: 0;
}
#textProjects3{
    display: flex;
    position: absolute;
    bottom: -285px;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
}
#textProjects3 > h1{
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    font-weight: 300;
    margin: 0;
}
/* projeto 3 */

/* projeto 4 */
#linha_projects4{
    position: relative;
    top: 320px;
    left: 25%;
    border-top: solid 1px rgba(119, 119, 119, 0.8);
    width: 200px;
    height: 1px;
}
#projectBox4{
    position: relative;
    height: 320px;
    left: -360px;
    top: 270px;
}
#project4{
    overflow: hidden;
    position: relative;
    width: 410px;
    height: 220px;
    top: 265px;
    background-color: #833424;
    border-radius: 10px;
    box-shadow: -12px -12px 0px rgb(0, 0, 0);
}
#tarja4{
    transform: rotate(-42deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 500px;
    height: 62px;
    left: -40px;
    top: 76px;
    background-color: #9d4432;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarja4 > h1{
    font-size: 16px;
    font-weight: 500;
    margin: 0;
}
#cel4{
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;
    left: 360px;
    bottom: -185px;
    width: 66px;
    height: 92px;
    background-color: #833424;
    box-shadow: -7px -7px 0px rgb(0, 0, 0);
    border-radius: 7px;
}
#tarjaCel4{
    transform: rotate(-45deg);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 25px;
    width: 241px;
    height: 30px;
    background-color: #98402f;
    box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
#tarjaCel4 > h1{
    font-size: 8px;
    font-weight: 500;
    margin: 0;
}
#textProjects4{
    display: flex;
    position: absolute;
    bottom: -285px;
    justify-content: center;
    width: 100%;
    text-shadow: 0px 0px 1px  rgba(19, 19, 19, 0.3);
}
#textProjects4 > h1{
    font-family: 'Nunito', sans-serif;
    font-size: 27px;
    font-weight: 300;
    margin: 0;
}
/* projeto 4 */
/* projetos */

/* footer */
#final{
    width: 100%;
}

#footer{
    display: flex;
    width: 100%;
    height: 257px;
}
#footerBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 340px;
    margin: 50px 0 0 0;
}
#footerBox > h1{
    color: #c2c2c2;
    text-shadow: -2px -2px 0px rgb(131, 52, 36);
    font-size: 35px;
    margin: 0;
}

#contactBox{
    display: flex;
    margin: 25px 0 0 0;
}
#contactBox > p{
    font-size: 30px;
}

#contactW{
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
}
#contactW > a{
    font-size: 35px;
    width: 73px;
    height: 40px;
    color: #c2c2c2;
    text-align: center;
    transition: .2s;
}
#contactW > a:hover{
    font-size: 40px;
    color: #c2c2c2;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
#contactW > p{
    margin: 7px 0 0 0;
}

#contactL{
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
}
#contactL > a{
    font-size: 30px;
    width: 73px;
    height: 40px;
    color: #c2c2c2;
    text-align: center;
    transition: .2s;
}
#contactL > a:hover{
    font-size: 40px;
    color: #c2c2c2;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
#contactL > p{
    margin: 7px 0 0 0;
}

#contactG{
    color: #c2c2c2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px 0 15px;
}
#contactG > a{
    font-size: 30px;
    width: 73px;
    height: 40px;
    color: #c2c2c2;
    text-align: center;
    transition: .2s;
}
#contactG > a:hover{
    font-size: 40px;
    color: #c2c2c2;
    text-shadow: -3px -3px 0px rgb(131, 52, 36);
}
#contactG > p{
    margin: 7px 0 0 0;
}
/* footer */